<div class="row">

    <div class="col-6" style="margin-top: 20px;">
      <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Texto para filtro">
    </div>
  </div>
  
  <hr>
  
  <table class="table table-striped" *ngIf='copagos && copagos.length'>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">identificación Paciente</th>
        <th scope="col">Valor Servicio </th>
        <th scope="col">Salrio Trabajo</th>
        <th scope="col">Copago Valor</th>
        <th scope="col">Porcentaje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let copago of copagos; index as i ">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ copago.identificacionPaciente }} </td>
        <td>{{ copago.valorServicio }}</td>
        <td>{{copago.salarioTrabajador  }}</td>
        <td>{{ copago.copagoValor | currency: 'COP' }}</td>
        <td>{{ copago.porcentaje  }}</td>
      </tr>
    </tbody>
  </table>