USE [master]
GO
/****** Object:  Database [Copago]    Script Date: 2/04/2020 11:17:51 p. m. ******/
CREATE DATABASE [Copago]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Copago', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Copago.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Copago_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Copago_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Copago].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Copago]
GO
/****** Object:  Table [dbo].[Copago]    Script Date: 2/04/2020 11:17:52 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Copago](
	[IdentificacionPaciente] [nvarchar](10) NOT NULL,
	[ValorServicio] [numeric](18, 0) NULL,
	[SalarioTrabajador] [numeric](18, 0) NULL,
	[CopagoValor] [numeric](18, 0) NULL,
	[Porcentaje] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdentificacionPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Copago] ([IdentificacionPaciente], [ValorServicio], [SalarioTrabajador], [CopagoValor], [Porcentaje]) VALUES (N'123134', CAST(20000 AS Numeric(18, 0)), CAST(40000 AS Numeric(18, 0)), CAST(2000 AS Numeric(18, 0)), N'10')
INSERT [dbo].[Copago] ([IdentificacionPaciente], [ValorServicio], [SalarioTrabajador], [CopagoValor], [Porcentaje]) VALUES (N'7864', CAST(452301 AS Numeric(18, 0)), CAST(9999990 AS Numeric(18, 0)), CAST(90460 AS Numeric(18, 0)), N'20')
INSERT [dbo].[Copago] ([IdentificacionPaciente], [ValorServicio], [SalarioTrabajador], [CopagoValor], [Porcentaje]) VALUES (N'7899', CAST(2134 AS Numeric(18, 0)), CAST(500000 AS Numeric(18, 0)), CAST(213 AS Numeric(18, 0)), N'10')
USE [master]
GO
