
<div>  
    <h1 class="h1">La IPS MAS SALUD Y VIDA</h1>
</div>

<br>
<p>
    requiere una aplicación que les permita realizar el cálculo del valor del copago a
    cobrar a los pacientes por los servicios de hospitalización que les brinda la entidad a sus pacientes.
    Para este fin debe solicitar la identificación del paciente, Valor del servicio de Hospitalización y el salario del
    trabajador. Si el trabajador gana más de $2.500.000 la tarifa para calcular el Copago es del 20% en caso
    contrario la tarifa será del 10%. El valor de copago esta dado por la fórmula:

</p>

<br>

<p>
    
   <b>Valor Copago=Tarifa*Valor del Servicio</b> 

</p>